<h1>All Restaurants</h1>

<%= link_to "add new restaurant", new_restaurant_path, class: "btn btn-primary"%>

<tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>

      </tr>
    <% end %>
  </tbody>
